html,
body {
  background-color: rgb(202, 197, 197);
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(130deg, #f19695, #232aa5);
}

.main-section {
  width: 90%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  background-color: #2b2b2b;
  padding: 1.5rem;
}
