@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #292929;
  --color-secondary: #d9d9d9;
  --color-green: #93f2a3;
  --color-pink: #f29e9d;
  --color-orange: #ffd655;
}

html,
body {
  background-color: var(--color-primary);
  width: 100%;
  height: 100vh;
  font-family: "Poppins";
}

