@import "tailwindcss";

:root {
  --color-primary: #292929;
  --color-secondary: #D9D9D9;
  --color-green: #93f2a3;
  --color-pink: #f29e9d;
  --color-orange: #ffd655;
}

html,
body {
  background-color: var(--color-primary);
  width: 100%;
  height: 100vh;
}

